.container-navbar{
    height: 70px;
    background-color:transparent;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    transition: background-color 0.5s ease
}
.container-navbar.active{
    background-color: white;
}
.headerContainer{
    max-height: 70px;
    
}
.logo-box{
    width: 20%;
}
.logoApp{
    transition: filter 0.5s ease;
}
.btn-child{
    min-width: 40px;
    height: 40px;
    margin: 0px 5px ;
}
a{
    width: 100%;
    height: 100%;
}
.cart{
    background-image: url("../assets/icon-cart-default-black.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.bgHeader{
    width: 100%;
    height: 380px;
    object-fit: cover;
    z-index: -1;
 }
 .grabPage{
    margin: 150px 0px 30px 0px;
}


.container-address-box{
    width: 350px;
    height: 400px;
    z-index: 3;
    top: 16%;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.wrap-input{
    padding: 24px 0px 0px 15px;
}
#af{
    font-weight: 700;
}
#where{
    font-weight: 650;
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
}
#search-input{
    width: 290px;
    padding: 10px;
    padding-left: 37px;
    margin: 10px 10px 10px 0;
}
button.btn.btn-search {
    background-color: #00B14F;
    width: 290px;
    height: 50px;
    font-weight: 650;
    color: white;
}
img#location {
    position: absolute;
    top: 63.5%;
    left: 10%;
    height: 30px;
}
#des {
    position: absolute;
    bottom: 30%;
    right: 11%;
}

span{
    font-weight: 700;
    color: #00B14F;
}

.con-promo{
    max-height: fit-content;
}
.icon-in-food{
    width: 18px;
    margin-inline-end: 2px;
    margin-inline-start: 4px;
}
.card{
    margin-inline: 10px;
    height: fit-content;
}
.show-all-promo{
    border: solid 1px  ;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-block: 20px;
    color:#b3b3b3;
}
.show-all-promo:hover{
    color: #00B14F;
}

.container-cate{
    display: flex;
    flex-wrap: wrap; 
}
.Cate{
    width: 23%;
    margin: 1%;
    
}
.image-cate-box{
    border-radius: 5px;
    width: 90%;
    overflow: hidden;
    margin-bottom: 5px;
}
.image-cate{ 
    width: 100%;
}
.cateLink{
    text-decoration: none;
    color: black;
    display: flex; /* Sử dụng flexbox */
    flex-direction: column; /* Chỉ định layout dọc */
    justify-content: center; /* Căn nội dung theo chiều ngang */
    align-items: center;
}
.name-cate{
    width: fit-content;
    margin: auto;
}

.question{
    margin-top: 30px;
}
.content{
    margin-top:50px;
}
.custom-why-use-list{
    margin-block: 30px;
    list-style-type: none;
}
.custom-why-use-list li::before{
    content: "\2713"; /* Mã Unicode của dấu tích */
    display: inline-block;
    width: 1em; /* Đảm bảo khoảng cách giữa dấu tích và văn bản */
    margin-left: -1em;
    font-weight: 400;
    color: #00B14F;
}
.question-child{
    margin-block: 30px;
}
.answer{
    margin-block: 30px;
    border-bottom: solid 1px #b3b3b3;
}
.answer-child{
    margin-block: 20px;
}
.btn-see-more-question{
    border: solid 1px  ;
    border-width: 1px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-block: 20px;
    color:#b3b3b3;
}
.btn-see-more-question:hover{
    color: #00B14F;
}
#a{
    text-decoration: none;
    color: #b3b3b3;
}
#a:hover{
    color: #00B14F;
}